In [9]:
# Part 1 (Series)
import pandas as pd
list = [1,2,3,4,5]
series = pd.Series(list)
print(series)
dict_series = pd.Series({'p':1,'q':2,'r':3})
print(dict_series)
dict_series[0]
dict_series[0:3]

0    1
1    2
2    3
3    4
4    5
dtype: int64
p    1
q    2
r    3
dtype: int64

C:\Users\verma\AppData\Local\Temp\ipykernel_4496\1709597707.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dict_series[0]

p    1
q    2
r    3
dtype: int64

In [13]:
# Part 2 (Dataframe)
import pandas as pd

df = pd.DataFrame()
df = pd.DataFrame([1,2,3,5])
df = pd.DataFrame([[1,2,3,4],[5,6,7,8]])
df = pd.DataFrame([{'a':1,'b':2,'c':1},{'d':1,'e':2,'c':3}])
df

     a    b  c    d    e
0  1.0  2.0  1  NaN  NaN
1  NaN  NaN  3  1.0  2.0

In [24]:
# Part 2 (continued)

df = pd.read_csv(r'C:\Users\verma\Downloads\Salary_Data.csv')
df.columns
df.shape
df.size
df.head(2)
df.tail()
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 612.0 bytes

In [33]:
# Part 3
df2 = pd.read_csv(r"C:\Users\verma\Downloads\Restaurant.csv")
df2.head()
df2.info()
df2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              250 non-null    int64
 1   Restaurant        250 non-null    object
 2   Content           33 non-null     object
 3   Sales             250 non-null    int64
 4   YOY_Sales         250 non-null    object
 5   Units             250 non-null    int64
 6   YOY_Units         250 non-null    object
 7   Headquarters      52 non-null     object
 8   Segment_Category  250 non-null    object
dtypes: int64(3), object(6)
memory usage: 17.7+ KB

             Rank        Sales         Units
count  250.000000    250.00000    250.000000
mean   125.500000   1242.74000    850.076000
std     72.312977   3365.22882   2296.151659
min      1.000000    126.00000     13.000000
25%     63.250000    181.00000     85.000000
50%    125.500000    330.00000    207.000000
75%    187.750000    724.75000    555.250000
max    250.000000  40412.00000  23801.000000

In [55]:
# Part 4
df = pd.read_csv(r"C:\Users\verma\Downloads\sample.csv")
df
df.describe()
df.isnull()
df.isnull().sum()
df.isnull().sum().sum()
df.shape
df2 = df.dropna()
df2
df3 = df.dropna(axis=1)
df3
df.dropna(how='any')
df.dropna(how='all')
df.dropna(inplace=True)
df

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
9         10     45.0       16.0   17.0      18.0
12        13     22.0       23.0   24.0      25.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [67]:
# Part 5
df = pd.read_csv(r'C:\Users\verma\Downloads\sample.csv')
df.head()
df.fillna(2)
df.fillna({'Physics':'none','Chemistry':10})
df.fillna(method='bfill',axis=1)
df.fillna(value=df['Physics'].mean())
df.fillna(value=df['Physics'].mean(),inplace=True)

df

C:\Users\verma\AppData\Local\Temp\ipykernel_4496\379474032.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill',axis=1)

    Roll No.    Physics  Chemistry      Maths   Computer
0          1  56.000000  57.000000  58.000000  59.000000
1          2  23.000000  24.000000  25.000000  26.000000
2          3  89.000000  25.000000  26.000000  27.000000
3          4  45.000000  26.000000  27.000000  28.000000
4          5  23.000000  27.000000  28.000000  29.000000
5          6  90.000000  52.814815  29.000000  30.000000
6          7  12.000000  13.000000  14.000000  15.000000
7          8  78.000000  14.000000  15.000000  16.000000
8          9  52.814815  15.000000  16.000000  17.000000
9         10  45.000000  16.000000  17.000000  18.000000
10        11  52.814815  17.000000  18.000000  19.000000
11        12  88.000000  52.814815  19.000000  20.000000
12        13  22.000000  23.000000  24.000000  25.000000
13        14  90.000000  52.814815  52.814815  42.000000
14        15  52.814815  43.000000  43.000000  43.000000
15        16  44.000000  44.000000  44.000000  44.000000
16        17  45.000000  45.000000  45.000000  45.000000
17        18  46.000000  46.000000  46.000000  46.000000
18        19  47.000000  47.000000  47.000000  47.000000
19        20  48.000000  48.000000  48.000000  48.000000
20        21  49.000000  49.000000  49.000000  49.000000
21        22  50.000000  50.000000  50.000000  50.000000
22        23  51.000000  51.000000  51.000000  51.000000
23        24  52.000000  52.000000  52.000000  52.000000
24        25  53.000000  52.814815  52.814815  53.000000
25        26  54.000000  33.000000  33.000000  54.000000
26        27  55.000000  34.000000  34.000000  55.000000
27        28  56.000000  35.000000  35.000000  52.814815
28        29  57.000000  36.000000  36.000000  66.000000
29        30  58.000000  37.000000  37.000000  43.000000

In [90]:
# Part 6
df = pd.read_csv(r'C:\Users\verma\Downloads\sample.csv')
df.head()
# df.replace(to_replace=88,value='A')
# df.replace(88,'A')
df['Physics'].replace([54,55,56],['A','B','C'])
df.replace('[A-Za-z]',0,regex=True)

    Roll No.  Physics  Chemistry  Maths  Computer
0          1     56.0       57.0   58.0      59.0
1          2     23.0       24.0   25.0      26.0
2          3     89.0       25.0   26.0      27.0
3          4     45.0       26.0   27.0      28.0
4          5     23.0       27.0   28.0      29.0
5          6     90.0        NaN   29.0      30.0
6          7     12.0       13.0   14.0      15.0
7          8     78.0       14.0   15.0      16.0
8          9      NaN       15.0   16.0      17.0
9         10     45.0       16.0   17.0      18.0
10        11      NaN       17.0   18.0      19.0
11        12     88.0        NaN   19.0      20.0
12        13     22.0       23.0   24.0      25.0
13        14     90.0        NaN    NaN      42.0
14        15      NaN       43.0   43.0      43.0
15        16     44.0       44.0   44.0      44.0
16        17     45.0       45.0   45.0      45.0
17        18     46.0       46.0   46.0      46.0
18        19     47.0       47.0   47.0      47.0
19        20     48.0       48.0   48.0      48.0
20        21     49.0       49.0   49.0      49.0
21        22     50.0       50.0   50.0      50.0
22        23     51.0       51.0   51.0      51.0
23        24     52.0       52.0   52.0      52.0
24        25     53.0        NaN    NaN      53.0
25        26     54.0       33.0   33.0      54.0
26        27     55.0       34.0   34.0      55.0
27        28     56.0       35.0   35.0       NaN
28        29     57.0       36.0   36.0      66.0
29        30     58.0       37.0   37.0      43.0

In [105]:
# Part 7
df = pd.read_csv(r"C:\Users\verma\Downloads\sample2.csv",index_col=['Roll No.'])
df.head()
df.loc[1]
df.loc[[1,2,3,4]]
df.loc[1,'Branch']
df.loc[1:5,'Physics']
df.loc[df['Physics']<50]
df.loc[df['Physics']>80,['Maths']]



df.iloc[0]
df.iloc[:,0]
df.iloc[0:5,1]
df.iloc[0:5,0:4]

         Section Branch  Physics  Chemistry
Roll No.
1              A     CS     56.0       57.0
2              A    ECE     23.0       24.0
3              B   MECH     89.0       25.0
4              C   MECH     45.0       26.0
5              A     CS     23.0       27.0

In [126]:
# Part 8
df.groupby(by='Branch').groups
branch_group = df.groupby(by=['Branch','Section'])

# for group,data_frame in branch_group:
#     print(group)
#     print('******************************')
#     print(data_frame)
#     print("------------------------------------------------")


df1 = pd.DataFrame({'Roll No.':[1,2,3,4,5],'Physics':[34,35,23,67,12]})
df1
df2 = pd.DataFrame({'Roll No.':[1,10,3,4,5],'Chemistry':[54,65,31,87,12]})
df2
pd.merge(df1,df2,on='Roll No.') # only intersection is taken 

pd.merge(df1,df2,how='left')
pd.merge(df1,df2,how='outer')
pd.merge(df1,df2,how='inner')

   Roll No.  Physics  Chemistry
0         1       34         54
1         3       23         31
2         4       67         87
3         5       12         12

In [132]:
# Part 9
df1 = pd.DataFrame({'Roll No.':[1,2,3,4,5],'Maths':[30,35,27,67,42],'Physics':[34,35,23,67,12]})
df2 = pd.DataFrame({'Roll No.':[6,7,8,9,10],'Maths':[99,25,66,23,89],'Physics':[32,15,22,67,59]})
df1._append(df2)
df1._append(df2,ignore_index=True)
df1._append(df2,ignore_index=True,sort=True)

   Maths  Physics  Roll No.
0     30       34         1
1     35       35         2
2     27       23         3
3     67       67         4
4     42       12         5
5     99       32         6
6     25       15         7
7     66       22         8
8     23       67         9
9     89       59        10

In [158]:
# Part 10
df = pd.read_csv(r"C:\Users\verma\Downloads\sample2.csv")
pd.pivot_table(df,index='Branch')

TypeError: agg function failed [how->mean,dtype->object]